<h1>Here is a list of all hyperglots</h1>
<h1>and the languages they are studying:</h1>
 <p>Click on a name below to find out more about that person, or...</p>
<p><%= link_to "Click here", new_hyperglot_path %> to register as a NEW HYPERGOT</p>
<div>
<% @hyperglots.each do |hyperglot| %>
   <div class="links">
   <p><%= link_to hyperglot.name, hyperglot_path(hyperglot) %></p>
    <ul class="links">
      <li><%= hyperglot.language_being_studied_1 %></li>
      <li><%= hyperglot.language_being_studied_2 %></li>
      <li><%= hyperglot.language_being_studied_3 %></li>
    </ul>
   </div>
   <% end %>
</div>