<h1>This is the Hyperglot SHOW page</h1>


  <h2><%= @hyperglot.name %></h2>

  <p>And these are the languages you're studying:</p>
   
   <ul class="hyperglot-links">
    <li><%= @hyperglot.language_being_studied_1 %></li>
    <li><%= @hyperglot.language_being_studied_2 %></li>
    <li><%= @hyperglot.language_being_studied_3 %></li>
   </ul>

   <h2>Congratulations!  You have completed <%= @hyperglot.count_lessons %> lessons!</h2>

   <h2>Here is a list of the dates on which you had a lesson:</h2>

   <h3>Click on a date to go to that lesson's info page:</h3>
     <ul class="hyperglot-links links">
     <% @hyperglot.lessons.each do |lesson| %>
         
           
           <li>Lesson date: <%= link_to lesson.lesson_date, lesson_path(lesson) %></li>
           
           
     <% end %>
     </ul>

